<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite for car cloning tests">
    <test name="TestTask">
        <parameter name="URL" value="file:///Users/admin/Downloads/AQA_Test_Task%20(2)%20(1).html"/>
        <parameter name="vehicleName" value="Vehicle 1"/>
        <parameter name="vehicleModelBMW" value="BMW"/>
        <parameter name="vehicleYear" value="2020"/>
        <parameter name="vehicleModelMazda" value="Mazda"/>
        <parameter name="newVehicleColor" value="Red"/>
        <parameter name="color" value="Red"/>
        <classes>
            <class name="Tests"></class>
        </classes>
    </test>
</suite>